[submodule "vim/pack/plugins/start/lightline.vim"]
  path = vim/pack/plugins/start/lightline.vim
  url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/pack/plugins/opt/palenight.vim"]
	path = vim/pack/plugins/opt/palenight.vim
	url = git@github.com:drewtempelmeyer/palenight.vim.git
[submodule "vim/pack/plugins/opt/onedark.vim"]
	path = vim/pack/plugins/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/pack/plugins/start/vim-buffergator"]
	path = vim/pack/plugins/start/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "vim/pack/plugins/start/black"]
	path = vim/pack/plugins/start/black
	url = git@github.com:psf/black.git
