[submodule "vim/themes/tomorrow-theme"]
	path = vim/themes/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
